openapi: 3.1.0
info:
  title: Google Cloud Platform Google Cloud Resource Manager Folders Operations API
  description: Programmatically manage Google Cloud projects, folders, and organizations. The Cloud Resource Manager API enables you to create, read, update, and delete projects, folders, and organizations in the Google Cloud resource hierarchy. It provides the foundation for organizing and governing Google Cloud resources through a hierarchical structure of organizations, folders, and projects.
  version: v3
  termsOfService: https://cloud.google.com/terms
  contact:
    name: Google Cloud Platform
    url: https://cloud.google.com/resource-manager/
  license:
    name: Creative Commons Attribution 4.0
    url: https://creativecommons.org/licenses/by/4.0/
  x-logo:
    url: https://cloud.google.com/_static/images/cloud/icons/favicons/onecloud/super_cloud.png
servers:
- url: https://cloudresourcemanager.googleapis.com
  description: Google Cloud Resource Manager API production endpoint
security:
- oauth2:
  - https://www.googleapis.com/auth/cloud-platform
- oauth2:
  - https://www.googleapis.com/auth/cloud-platform.read-only
tags:
- name: Operations
  description: Long-running operations returned by Resource Manager API methods. Some methods return an Operation resource to track the progress of asynchronous requests.
paths:
  /v3/{name}:
    get:
      operationId: cloudresourcemanager.operations.get
      summary: Google Cloud Platform Get a Long-running Operation
      description: Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals.
      tags:
      - Operations
      parameters:
      - name: name
        in: path
        description: The name of the operation resource.
        required: true
        schema:
          type: string
        example: Example Title
      responses:
        '200':
          description: Successful response containing the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
              examples:
                CloudresourcemanagerOperationsGet200Example:
                  summary: Default cloudresourcemanager.operations.get 200 response
                  x-microcks-default: true
                  value:
                    name: Example Title
                    metadata: example_value
                    done: true
                    error:
                      code: 10
                      message: example_value
                      details:
                      - {}
                    response: example_value
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                CloudresourcemanagerOperationsGet401Example:
                  summary: Default cloudresourcemanager.operations.get 401 response
                  x-microcks-default: true
                  value:
                    code: 10
                    message: example_value
                    details:
                    - {}
        '404':
          description: The specified operation was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                CloudresourcemanagerOperationsGet404Example:
                  summary: Default cloudresourcemanager.operations.get 404 response
                  x-microcks-default: true
                  value:
                    code: 10
                    message: example_value
                    details:
                    - {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Operation:
      type: object
      description: Represents a long-running operation that is the result of a network API call. Many Resource Manager operations are asynchronous and return an Operation that can be polled for status.
      properties:
        name:
          type: string
          description: The server-assigned name, which is only unique within the same service. Used to poll for the operation status.
          example: Example Title
        metadata:
          type: object
          description: Service-specific metadata associated with the operation.
          additionalProperties: true
          example: example_value
        done:
          type: boolean
          description: If true, the operation is complete and either error or response is available.
          example: true
        error:
          $ref: '#/components/schemas/Status'
        response:
          type: object
          description: The normal response of the operation. Contains the result on success.
          additionalProperties: true
          example: example_value
    Status:
      type: object
      description: The Status type defines a logical error model that is suitable for REST APIs. It is used to communicate error details from the API.
      properties:
        code:
          type: integer
          format: int32
          description: The status code, which should be an enum value of google.rpc.Code.
          example: 10
        message:
          type: string
          description: A developer-facing error message in English.
          example: example_value
        details:
          type: array
          description: A list of messages that carry the error details.
          items:
            type: object
            additionalProperties: true
          example: []
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication using Google Cloud service accounts or user credentials. Supports both service-to-service and end-user authentication flows.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to view and manage Google Cloud resources.
            https://www.googleapis.com/auth/cloud-platform.read-only: Read-only access to view Google Cloud resources.
    apiKey:
      type: apiKey
      name: key
      in: query
      description: API key for identifying the calling project.
